th{ font-size: large;
    border: 2px solid rgb(113, 130, 98);}
td{border: 2px solid rgb(113, 130, 98);}
body{  background-color: rgb(158, 183, 143);
}
form{
    background-color: rgb(140, 161, 144);
}